Test/cpputest/cpputest

gsoap-2.8/gsoap/bin
gsoap-2.8/gsoap/*.o
gsoap-2.8/gsoap/*a
gsoap-2.8/gsoap/.deps
gsoap-2.8/*.Po

gtest/build/*.o
*.o
*~
out/lib/*.a
out./*.zip
out/include/*
out/bin

sqlite3/*.a
common/src/*.a
Test/gtest/gtest


